<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <!-- CSS only -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    {% block style %}{% endblock %}
</head>
<body>

    <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand">Priceopedia</a>
        <ul class="navbar-nav mr-auto">
          {% if request.path == '/' %}
            <li class="nav-item">
              <a class='nav-link active ' href="{% url 'home-page' %}">Home <span class="sr-only">(current)</span></a>
            </li>
          {% else %}
            <li class="nav-item">
              <a class='nav-link' href="{% url 'home-page' %}">Home <span class="sr-only">(current)</span></a>
            </li>
          {% endif %}
        </ul>
        <ul class="nav nav-tabs justify-content-end">
          {% if request.path == '/login/' %}
            <li class="nav-item">
              <a class='nav-link active ' href="{% url 'login-page' %}">LogIn</a>
            </li>
            <li class="nav-item">
              <a class='nav-link' href="{% url 'registeration-page' %}">Register</a>
            </li>
            <li class="nav-item">
              <a class='nav-link' href="{% url 'logout-page' %}">LogOut</a>
            </li>
            <li class="nav-item">
              <a class='nav-link' href="{% url 'profile-page' %}">Profile</a>
            </li>
          {% elif request.path == '/register/' %}
            <li class="nav-item">
              <a class='nav-link' href="{% url 'login-page' %}">LogIn</a>
            </li>
            <li class="nav-item">
              <a class='nav-link active' href="{% url 'registeration-page' %}">Register</a>
            </li>
            <li class="nav-item">
              <a class='nav-link' href="{% url 'logout-page' %}">LogOut</a>
            </li>
            <li class="nav-item">
              <a class='nav-link' href="{% url 'profile-page' %}">Profile</a>
            </li>
          {% elif request.path == '/logout/' %}
            <li class="nav-item">
              <a class='nav-link' href="{% url 'login-page' %}">LogIn</a>
            </li>
            <li class="nav-item">
              <a class='nav-link' href="{% url 'registeration-page' %}">Register</a>
            </li>
            <li class="nav-item">
              <a class='nav-link active ' href="{% url 'logout-page' %}">LogOut</a>
            </li>
            <li class="nav-item">
              <a class='nav-link' href="{% url 'profile-page' %}">Profile</a>
            </li>
          {% elif request.path == '/profile/' %}
            <li class="nav-item">
              <a class='nav-link' href="{% url 'login-page' %}">LogIn</a>
            </li>
            <li class="nav-item">
              <a class='nav-link' href="{% url 'registeration-page' %}">Register</a>
            </li>
            <li class="nav-item">
              <a class='nav-link' href="{% url 'logout-page' %}">LogOut</a>
            </li>
            <li class="nav-item">
              <a class='nav-link active' href="{% url 'profile-page' %}">Profile</a>
            </li>
          {% else %}
            <li class="nav-item">
              <a class='nav-link' href="{% url 'login-page' %}">LogIn</a>
            </li>
            <li class="nav-item">
              <a class='nav-link' href="{% url 'registeration-page' %}">Register</a>
            </li>
            <li class="nav-item">
              <a class='nav-link' href="{% url 'logout-page' %}">LogOut</a>
            </li>
            <li class="nav-item">
              <a class='nav-link' href="{% url 'profile-page' %}">Profile</a>
            </li>
          {% endif %}
        </ul>
    </nav>

    <div class="col-md-8">
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
        {% block content %}{% endblock %}
    </div>


    <!-- JS, Popper.js, and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js" integrity="sha512-s+xg36jbIujB2S2VKfpGmlC3T5V2TF3lY48DX7u2r9XzGzgPsa6wTpOQA7J9iffvdeBN0q9tKzRxVxw1JviZPg==" crossorigin="anonymous"></script>
</body>
</html>
